<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/static/scripts/bootstrap.bundle.min.js" defer></script>
    <script src="/static/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles/bulma.min.css" />
    <link rel="stylesheet" href="/static/styles/material.css" />
    <link rel="stylesheet" href="/static/styles/stylesheet.css" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    {% block scripts %} {% endblock scripts %}
    <script src="/static/scripts/script.js" defer></script>
  </head>
  <body>
    {% block main %} {% endblock main %}
  </body>
</html>
